/* Define the font face for Sohne-Bold */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Martel+Sans:wght@300&display=swap');

/* Color Palette */
:root {
    /* hex */
    /* --color-white: #FBFFFE;
    --color-dark-gray: #252422; */

    --color-dark-purple-400: #5941A9;
    --color-dark-purple-500: #1D1128;
    --color-light-purple: #E5D4ED;
    --color-medium-pink: #E985B1;

    /* rgba */
    --color-baby-pink: rgb(238,174,202);
    --color-baby-pink-bg: rgba(238,174,202,1);
    
    --color-light-blue: rgba(148,187,233);
    --color-light-blue-bg: rgba(148,187,233,1);

    --color-dark-gray-50: rgba(37,36,34,0.2);
    --color-dark-gray-100: rgba(37,36,34,0.9);
    --color-dark-gray-200: rgba(37,36,34,1);

    --color-white-100: rgba(251,255,254);
    --color-white-200: rgba(251,255,254,0.15);
    --color-white-300: rgba(251,255,254,0.5);
}

/* Make other pages hidden by default */
.page {
    display: none;
}

/* Show the active page */
.page.active {
    display: flex;
}

/* Style for the credits popup panel */
/* .popup {
    position: relative;
    display: inline-block;
}

.popup-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    min-width: 150px;
    z-index: 1;
}

.popup-content2 {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    min-width: 150px;
}

.popup:hover .popup-content, .popup2:hover .popup-content2 {
    display: block;
    background-color: var(--color-white-100);
    margin: 0px;
}

.popup-content a {
    display: block;
    text-decoration: none;
    color: var(--color-dark-gray-200);
}

.popup-content1:hover, .popup-content1 a:hover {
    color: var(--color-white-100);
    background-color: var(--color-medium-pink);
} */

.popup {
    position: relative;
    display: inline-block;
}

/* Hide the popup and group-names by default */
.credits-popup {
    display: none;
    position: absolute;
    top: 100%; /* Places the popup below the trigger */
    left: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
    background-color: var(--color-white-100);
    color: var(--color-white-100);
}

.credits-popup a:hover {
    background-color: var(--color-medium-pink);
    color: var(--color-white-100);
}

#group-names {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: var(--color-medium-pink);
    color: var(--color-white-100);
    padding: 10px;
    z-index: 1;
}

/* Show the popup when hovering over the trigger */
.popup:hover .credits-popup {
    display: block;
}

/* Show the group-names when hovering over its trigger */
.popup .group-names-trigger:hover + #group-names {
    display: block;
}

/* Optional styles for better visibility */
.credits-popup li {
    list-style: none;
    margin-bottom: 5px;
}

.credits-popup-content {
    text-decoration: none;
    color: #333;
}


/* Additional styling for the nested ul */
#group-names {
    display: none;
}

.credits-popup:hover #group-names {
    display: block;
    background-color: var(--color-medium-pink);
    color: var(--color-white-100);
    min-width: 150px;
}


/* for the group names */
.popup-content2 a:hover {
    cursor: default;
    color: var(--color-dark-gray-200);
    background-color: var(--color-white-100);
}

/* Style for the body of the HTML */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--color-baby-pink);
    background: linear-gradient(0deg, var(--color-baby-pink-bg) 0%, var(--color-light-blue-bg) 100%);

}

body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: var(--color-white-100);
}

header {
    padding: 15px, 0px, 15px, 0px;
}

#logo img {
   width: 50px;
   position: absolute;
   margin-top: -4px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    display: inline;    
}

nav li a {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: var(--color-white-200);
    color: var(--color-white-100);
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px 10px 10px;
}

main {
    background-color: var(--color-white-200);
    border-radius: 15px;
    padding: 15px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#homePage li, #searchPage li {
    list-style: none; 
}

.pageTitle {
    font-size: 24px;
    color: var(--color-white-100);
    margin-bottom: 0;
    text-align: center;
}

/* Search Page */
#searchPage {
    width: 100%;
    min-height: 650px;
}

.left-div { width: 30%; }

.right-div { width: 70%; }

/* Style for the form / nav bar */
.sidebar {
    height: 100%; 
    max-width: 250px; 
    background-color: #333; 
    padding-top: 20px;
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
}

#songTitleInput, #genreDropdown, #artistDropdown {
    width: 100px;
    height: 20px;
    margin-left: 10px;
    
}

/* search result area in search page */
.table-container {
    display: table;
    width: 100%;
}

.oneline-list { display: flex; }

.oneline-list li {
    display: table-cell;
    padding: 10px 5px;
}

.c1 { width: 40%; }
.c2 { width: 20%; }
.c3 { width: 15%; }
.c4 { width: 20%; }
.c5 { width: 5%; }

.resultTitles {
    display: flex;
    list-style: none;
    background-color: var(--color-dark-purple-500);
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    text-align: left;
}

.table-container ul:nth-child(even) {
    background-color: var(--color-dark-gray-200);
    border-radius: 10px;
}

a.songLink {
    text-decoration: none;
    color: var(--color-white-100);
}

.sort-button {
    width: 30px;
    margin-right: 10px;
}

/* Style for the ellipsis */
.spantool {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

/* Style for the tooltip popup */
.spantool-popup {
    background-color: var(--color-dark-purple-400);
    color: white;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
}

#singleSongView .right-div{
    padding: 5px;
    justify-content: center;
    text-align: center;
}

