/* font face for Sohne-Bold */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Martel+Sans:wght@300&display=swap');

/* Color Palette */
:root {
    /* hex */
    --color-dark-purple-400: #5941A9;
    --color-dark-purple-500: #1D1128;
    --color-light-purple: #E5D4ED;
    --color-medium-pink: #E985B1;
    --color-dark-pink: #ff4d9a;
    --color-medium-blue: #74acee;

    /* rgba */
    --color-baby-pink: rgb(238,174,202);
    --color-baby-pink-bg: rgba(238,174,202,1);
    --color-baby-pink-100: rgba(238,174,202,0.8);
    
    --color-light-blue: rgba(148,187,233);
    --color-light-blue-bg: rgba(148,187,233,1);

    --color-dark-gray-50: rgba(37,36,34,0.2);
    --color-dark-gray-100: rgba(37,36,34,0.9);
    --color-dark-gray-200: rgba(37,36,34,1);

    --color-white-100: rgba(255,255,255);
    --color-white-200: rgba(251,255,254,0.15);
    --color-white-300: rgba(251,255,254,0.5);
}

/* Style for the body of the HTML */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--color-baby-pink);
    background: linear-gradient(0deg, var(--color-baby-pink-bg) 0%, var(--color-light-blue-bg) 100%);
    background-attachment: fixed; 
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: var(--color-white-100);
}

/* Header styles */
header {
    padding: 15px, 0px, 15px, 0px;
}

#logo img {
   width: 50px;
   position: absolute;
   margin-top: -4px;
}

#logo img:hover {
    filter: brightness(0) invert(1) grayscale(100%) contrast(100%);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    display: inline;    
}

nav li a {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    background-color: var(--color-white-200);
    color: var(--color-white-100);
    display: flex;
    justify-content: flex-end;
}

.nav-button {
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
}

.nav-button:hover {
    background-color: var(--color-dark-purple-400);
}

.popup {
    position: relative;
    display: inline-block;
}

/* Hide the popup and group-names by default */
.credits-popup {
    display: none;
    position: absolute;
    top: 100%; /* Places the popup below the trigger */
    left: 0;
    margin-left: -20px;
    padding: 0px;
    z-index: 1;
    background-color: var(--color-white-100);
    color: var(--color-white-100);
}

.credits-popup a:hover {
    background-color: var(--color-medium-pink);
    color: var(--color-white-100);
}

#group-names {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: var(--color-medium-blue);
    color: var(--color-white-100);
    padding: 10px;
    z-index: 1;
}

/* Show the popup when hovering over the trigger */
.popup:hover .credits-popup, .credits-popup-content {
    display: block;
    min-width: 150px;
    color: var(--color-dark-gray-200);
}

/* Additional styling for the nested ul */
#group-names {
    display: none;
}

.credits-popup li:hover #group-names {
    display: block;
    min-width: 150px;
}

/* for the group names */
.popup-content2 a:hover {
    cursor: default;
    color: var(--color-dark-gray-200);
    background-color: var(--color-white-100);
}

#github-url:hover {
    text-decoration: underline;
}


/* Styles for the main body */

/* Make other pages hidden by default */
.page {
    display: none;
}

/* Show the active page */
.page.active {
    display: flex;
}

main {
    border-radius: 15px;
    padding: 15px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    text-align: center;
    background-color: var(--color-white-200);
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 7px;
}

#homePage li {
    padding: 5px;
}

.pageTitle {
    font-size: 24px;
    color: var(--color-white-100);
    margin-bottom: 0;
    text-align: center;
}

.c1 a, #homePage a {
    color: var(--color-white-100);
}

.c1 a:hover, #homePage a:hover {
    color: var(--color-dark-pink);
}

/* Search Page */
#searchPage {
    width: 100%;
}

.left-div { width: 30%; }

.right-div { width: 70%; }

.left-div, .right-div {
    background-color: var(--color-white-200);
    border-style: none;
    border-radius: 7px;
    padding: 15px;
}

/* Style for the form / nav bar */
.sidebar {
    height: 100%; 
    background-color: var(--color-white-200); 
    padding-top: 20px;
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: block;
}

label {
    display: block;
    margin-bottom: 20px;
}

#songTitleInput, #genreDropdown, #artistDropdown {
    width: 120px;
    margin-left: 10px;
}

/* Style for the radio and dropdown */
input[type="radio"] {
    display: inline-flex;
    place-content: center;
    width: 1.5em;
    height: 1.5em;
  }
  
input[type="radio"]::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-dark-pink);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.form-buttons button {
    padding: 10px 30px;
    border-style: none;
    border-radius: 4px;
    margin: 5px;
    font-size: 14px;
    font-weight: 200;
    background-color: var(--color-dark-pink);
    color: var(--color-white-100);
}

.form-buttons button:hover {
    cursor: pointer;
}

/* Styles for the search result area in search page */
.searchResultsArea .pageTitle {
    margin-bottom: 20px;
}

.resultTable {
    width: 100%;
}

.resultTable thead {
    font-size: 18px;
    margin-top: 50px;
}

.resultTable th, .resultTable td {
    padding: 5px;
}

.sort-button img{
    width: 45px;
    transform: translateY(40%);
}

/* Style for the ellipsis */
.spantool {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

/* Style for the tooltip popup */
.spantool-popup {
    background-color: var(--color-dark-purple-400);
    color: white;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
}

/* Single Song View Page Styles */
#singleSongView .right-div{
    padding: 5px;
    justify-content: center;
    text-align: center;
    max-width: 900px;
}

#singleSongView .left-div, #singleSongView .right-div {
    margin: 20px;
}
